<div class ="panel panel-default">
        <div class="panel-heading">
          <h3>Search Patient</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
      
                <!-- Text input-->
                <div class="col-md-3 form-group"> 
                    <input  name="full_name" placeholder="Name" class="form-control"  type="text">
                </div>
      
                <!-- radio checks -->
                <div class="col-md-2 form-group">
                  <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender" value="male" /> Male
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender" value="female" /> Female
                    </label>
                  </div>            
                </div>
      
      
                <!-- Select Basic -->
         
      <div class="col-md-4 form-group"> 
            <div class="input-group">
            <select name="month" class="form-control selectpicker" >
              <option value=" " >Month</option>
              <option>January</option>
              <option>February</option>
              <option >March</option>
              <option >April</option>
              <option>May</option>
              <option >June</option>
              <option>July</option>
              <option>August</option>
              <option >September</option>
              <option >October </option>
              <option>November</option>
              <option >December</option>
            </select>
          </div>
      
          <div class="input-group">
              <select name="day" class="form-control selectpicker" >
                <option value=" " >Day</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10 </option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option >15</option>
                <option >16</option>
                <option>17</option>
                <option >18</option>
                <option>19</option>
                <option>20</option>
                <option >21</option>
                <option >22 </option>
                <option>23</option>
                <option >24</option>
                <option>25</option>
                <option>26</option>
                <option >27</option>
                <option >28</option>
                <option>29</option>
                <option >30</option>
                <option>31</option>
                <option>32</option>
              </select>
            </div>
      
            <div class="input-group">
                <select name="year" class="form-control selectpicker" >
                  <option value=" " >Year</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                  <option>2009</option>
                  <option>2008 </option>
                  <option>2007</option>
                  <option>2006</option>
                  <option>2005</option>
                  <option>2004</option>
                  <option >2003</option>
                  <option >2002</option>
                  <option>2001</option>
                  <option >2000</option>
                  <option>1999</option>
                  <option>1998</option>
                  <option >1997</option>
                  <option >1996 </option>
                  <option>1995</option>
                  <option >1994</option>
                  <option>1993</option>
                  <option>1992</option>
                  <option >1991</option>
                  <option >1990</option>
                  <option>1989</option>
                  <option >1988</option>
                  <option>1987</option>
                  <option>1986</option>
                </select>
              </div>
      
        </div>
      
                  <!-- Zipcode input-->
                <div class="col-md-2 form-group"> 
                  <div class="input-group">
                  <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
                  </div>
                </div>
                
                <!-- submit button -->
                <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                <button class="btn btn-inverse"><a [routerLink]="['/searchpatient']">Search</a></button>
              </form>

<!-- end of form -->


        </div>
        <div class = "panel-footer">
            
        </div>
      </div>
      
      <!-- end of pannel footer -->
      
      